@media only screen and (min-width: 768px) {

  .container {

    .text-content {

      .email-submit {

        .submit-btn {
          width: 10%;
          left: 300px;
          padding: 1em;
          
        }
      }
    }
  }
}